-r requirements.txt
peeweext==0.7.6
cachext==0.2.2
redis==2.10.6
celery==4.2.0
pytest==3.6.2
pytest-cov==2.5.1
flake8==3.5.0
coveralls==1.3.0
codeclimate-test-reporter
coverage==4.5.1
prometheus_client
